@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --lh: 0.825rem;
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 3;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  position: relative;
  text-align: justify;
  padding-right: 10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid rgb(156 163 175);
  border-color: rgb(156 163 175) transparent rgb(156 163 175) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide the default scrollbar */
#sc-personal-data-form-container::-webkit-scrollbar {
  width: 0.8rem;
}

/* Style the scrollbar track */
#sc-personal-data-form-container::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 0px 1px rgba(207, 207, 207, 0.2);
}

/* Style the scrollbar thumb */
#sc-personal-data-form-container::-webkit-scrollbar-thumb {
  background-color: #d4d4d4 !important;
  border-radius: 8px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}